body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

help{
    justify-content: center;
}

.test_to_inherit{
    font-size: 100px;
}

.test_to_inherit > .yay {
    color: orange;
}

.box {
    width: 30vw;
    height: 30vh;
    background-color: #007bff;
    padding: 20px;
    margin-top: 20px;
}

.box p {
    font-size: 20px;
    color: #fff;
    margin: 0;
    background-color: transparent; /* Remove background color */
    padding: 10px;
    box-shadow: none;
    text-align: center;

}

.box:hover {
    transform: scale(1.05);
    background-color: #007bff;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.container h1 {
    color: #333;
    font-size: 2rem;
}

h2, p {
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
}
